.illustration {
  align-items: flex-end;
  // background-color: red;
  display: flex;
  justify-content: space-around;
  margin-bottom: -20px;
}

.illustration-left {
  // background-color: red;
  display: flex;
  margin-bottom: -20px;
}

.robot {
  height: calc(100px + 6vw);
}

#chicken {
  height: calc(50px + 6vw);
  margin-bottom: 20px;
}

#boulder {
  margin-bottom: -20px;
}

.box {
  margin-bottom: -20px;
}

// boxes

.hidden {
  visibility: hidden;
}

#stacked {
  position: relative;
}

.stacked-element {
  left: 30%;
  position: absolute;
  top: 40%;
}
