@import 'global';

#bar {
  align-items: center;
  background-color: #323232;
  border-radius: 1vw;
  bottom: 4.5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  left: 50%;
  padding: 1em;
  position: fixed;
  transform: translate(-50%, 0);
  width: 90vw;
}

.stats-display {
  margin: 0;
}

.stats-display:nth-child(1) {
  color: $red;
}

.stats-display:nth-child(2) {
  color: $orange;
}

.stats-display:nth-child(3) {
  color: $green;
}

.stats-display:nth-child(4) {
  color: $blue;
}

.stats-value {
  background-color: white;
  border-radius: 10%;
  color: black;
  display: inline-block;
  justify-content: center;
  margin: 0 0.5em;
  padding: 0.25em 1em;
}
